In [4]:
import pandas as pd 
  
# Get the data 
train_col_name = ['userID', 'movieID', 'rating'] #1
tags_col_name=['id','value'] #2
test_col_name=['userID', 'movieID']
movie_tags_col_name=['movieID','tagID','tagWeight'] #3
movie_generes_col_name=['movieID','genre'] #4
movie_directors_col_name=['movieID','directorID','directorName'] #5
movie_actors_col_name=['movieID','actorID','actorName','ranking'] #6
user_taggedmovies_col_name=['userID', 'movieID' ,'tagID']






  

# train = pd.read_csv('train.dat', sep='\t', names=train_col_name)
# tags=pd.read_csv('tags.dat', sep='\t', names=tags_col_name)
# test=tags=pd.read_csv('test.dat', sep=' ', names=test_col_name)
# movie_tags=tags=pd.read_csv('movie_tags', sep='\t', names=movie_tags_col_name)
# movie_generes=tags=pd.read_csv('movie_genres.dat', sep='\t', names=movie_generes_col_name)
# movie_dir=tags=pd.read_csv('movie_directors', sep='\t', names=movie_directors_col_name)
# movie_act=tags=pd.read_csv('movie_actors', sep='\t', names=movie_actors_col_name)
# user_tmov=pd.read_csv('user_taggedmovies.dat', sep=' ', names=user_taggedmovies_col_name)



  
# # Check the head of the data 
# df.head()

In [16]:
# original training data here
traindf = pd.read_csv('train.dat', sep=' ',skiprows=1,names=train_col_name)
traindf.head()

   userID  movieID  rating
0      75        3     1.0
1      75       32     4.5
2      75      110     4.0
3      75      163     4.0
4      75      165     4.5

In [18]:
# attempt to turn it into Rating Information Matrix
matrix = traindf.pivot(index='userID',columns='movieID')
matrix.head()

        rating                                                        ...  \
movieID  1     2     3     4     5     6     7     8     9     10     ...
userID                                                                ...
75         NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
78         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
127        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
170        3.0   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.5  ...
175        NaN   NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN   NaN  ...


movieID 64986 64990 64993 64997 65011 65037 65088 65126 65130 65133
userID
75        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
78        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
127       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
170       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
175       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[5 rows x 9936 columns]

In [26]:
# 34680 1215 3
matrix

        rating                                                        ...  \
movieID  1     2     3     4     5     6     7     8     9     10     ...
userID                                                                ...
75         NaN   NaN   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
78         NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
127        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
170        3.0   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.5  ...
175        NaN   NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN   NaN  ...
190        NaN   4.0   NaN   NaN   NaN   NaN   2.0   NaN   NaN   NaN  ...
267        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.0  ...
325        NaN   NaN   NaN   NaN   3.0   NaN   3.5   NaN   NaN   NaN  ...
383        NaN   NaN   NaN   NaN   NaN   3.0   NaN   NaN   NaN   NaN  ...
476        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
477        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
493        3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
498        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
533        5.0   NaN   NaN   NaN   NaN   NaN   2.5   NaN   NaN   NaN  ...
545        4.0   NaN   NaN   NaN   NaN   5.0   NaN   NaN   NaN   NaN  ...
548        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
580        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
622        4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.5  ...
636        NaN   NaN   NaN   NaN   2.5   NaN   NaN   NaN   1.5   NaN  ...
637        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
728        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
732        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
783        NaN   NaN   2.0   NaN   NaN   NaN   3.5   NaN   NaN   NaN  ...
788        NaN   4.5   3.5   NaN   NaN   4.5   NaN   NaN   NaN   3.5  ...
894        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
922        NaN   4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.5  ...
937        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1017       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1035       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
1047       4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...        ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
70760      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
70782      NaN   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   3.5  ...
70789      5.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   4.0  ...
70793      5.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
70806      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
70816      NaN   3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
70878      2.5   2.0   NaN   NaN   NaN   4.0   NaN   NaN   NaN   3.0  ...
70974      4.0   NaN   5.0   NaN   NaN   4.0   NaN   NaN   3.0   NaN  ...
70981      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71037      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71052      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71055      2.0   NaN   1.5   2.0   2.0   NaN   NaN   NaN   NaN   2.0  ...
71107      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71116      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71149      4.0   2.5   NaN   NaN   3.0   NaN   NaN   NaN   NaN   2.5  ...
71278      NaN   3.5   4.5   NaN   4.0   NaN   NaN   NaN   NaN   NaN  ...
71287      4.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71291      3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71307      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71323      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71331      NaN   NaN   3.0   NaN   NaN   3.0   NaN   NaN   NaN   4.0  ...
71420      5.0   NaN   3.0   NaN   4.0   3.0   NaN   NaN   NaN   4.0  ...
71478      NaN   NaN   3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71483      4.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71487      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71497      NaN   3.5   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71509      4.0   NaN   NaN   NaN   1.5   NaN   NaN   NaN   NaN   NaN  ...
71525      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71529      NaN   NaN   2.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
71534      NaN   NaN   NaN   NaN   NaN   4.0   NaN   NaN   NaN   4.5  ...


movieID 64986 64990 64993 64997 65011 65037 65088 65126 65130 65133
userID
75        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
78        NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
127       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
170       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
175       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
190       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
267       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
325       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
383       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
476       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
477       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
493       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
498       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
533       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
545       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
548       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
580       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
622       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
636       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
637       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
728       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
732       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
783       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
788       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
894       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
922       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
937       NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1017      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1035      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1047      NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
...       ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
70760     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70782     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70789     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70793     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70806     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70816     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70878     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70974     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
70981     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71037     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71052     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71055     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71107     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71116     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71149     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71278     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71287     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71291     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71307     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71323     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71331     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71420     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71478     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71483     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71487     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71497     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71509     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71525     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71529     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
71534     NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

[2113 rows x 9936 columns]

In [6]:
tagsdf=pd.read_csv('tags.dat', sep='\t', skiprows=1,names=tags_col_name, encoding = "ISO-8859-1")
tagsdf.head()

   id    value
0   1    earth
1   2   police
2   3   boxing
3   4  painter
4   5    whale

In [7]:
testdf=pd.read_csv('test.dat', sep=' ',skiprows=1, names=test_col_name)
testdf.head()

   userID  movieID
0      75      653
1      75     1527
2      75     3258
3      75     7007
4      78       82

In [8]:
movie_tagsdf=pd.read_csv('movie_tags.dat', sep='\t', skiprows=1,names=movie_tags_col_name)
movie_tagsdf.head()

   movieID  tagID  tagWeight
0        1      7          1
1        1     13          3
2        1     25          3
3        1     55          3
4        1     60          1

In [9]:
movie_generesdf=pd.read_csv('movie_genres.dat', sep='\t',skiprows=1, names=movie_generes_col_name)
movie_generesdf.head()

   movieID      genre
0        1  Adventure
1        1  Animation
2        1   Children
3        1     Comedy
4        1    Fantasy

movie_generes.head()

In [10]:
movie_dirdf=pd.read_csv('movie_directors.dat', encoding = "ISO-8859-1",skiprows=1,sep='\t', names=movie_directors_col_name)

In [11]:
movie_dirdf.head()

   movieID       directorID     directorName
0        1    john_lasseter    John Lasseter
1        2     joe_johnston     Joe Johnston
2        3    donald_petrie    Donald Petrie
3        4  forest_whitaker  Forest Whitaker
4        5    charles_shyer    Charles Shyer

In [12]:
movie_actdf=pd.read_csv('movie_actors.dat', sep='\t',skiprows=1,encoding = "ISO-8859-1", names=movie_actors_col_name)
movie_actdf.head()

   movieID          actorID        actorName  ranking
0        1      annie_potts      Annie Potts       10
1        1      bill_farmer      Bill Farmer       20
2        1      don_rickles      Don Rickles        3
3        1  erik_von_detten  Erik von Detten       13
4        1        greg-berg        Greg Berg       17

In [13]:
user_tmovdf=pd.read_csv('user_taggedmovies.dat', sep=' ', names=user_taggedmovies_col_name)

In [14]:
user_tmovdf.head()

   userID  movieID  tagID
0  userID  movieID  tagID
1      75      353   5290
2      78     4223   5264
3     127     1343   1544
4     127     1343  12330